.interest{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 50px 50px;
}

label{
  color: gray;
}
#interest-rate{
  margin: 5px 5px;
  padding: 10px 0px;
  border-radius: 5px;
  border: none;
  border-bottom: 3px rgb(85, 130, 156) dotted;
}

#number-years{
  margin: 5px 5px;
  padding: 10px 0px;
  border-radius: 5px;
  border: none;
  border-bottom: 3px rgb(85, 130, 156) dotted;
}

#button{
  margin-top: 5px;
  padding: 10px 0px;
  border-radius: 5px;
  color: white;
  border: none;
  background-color: rgb(85, 130, 156);
}